
.active
{
    color: gold;
    text-decoration: none;
}


/* styles: Article */

.article {
    text-decoration: none;

    max-width: 500px;
    margin: 30px auto;

    background-color: #fff;
    box-shadow: 0 10px 25px rgba(72, 72, 72, .1);
}

.articlePhoto {
    display: block;     /* стандартный стиль для адаптивных картинок */
    max-width: 100%;    /* стандартный стиль для адаптивных картинок */
    height: auto;       /* стандартный стиль для адаптивных картинок */
}

.articleImage:before {
    display: block;
    max-width: 500px;
    height: 200px;

    background-color: orange;
}

.articleContent {
    padding: 20px;
}

.articleTitle {
    margin: 0 0 20px;

    /*color: blue;*/
    /*color: #123197;*/
    color: #86cde5;
    /*color: cyan;*/
    font-size: 35px;
    line-height: 1.2;   /* межстрочный отступ для элементов у которых большой размер шрифта (когда несколько строк) (а если не указать то будет браться от размера шрифта)  */
}

.articleTitle a {
    color: inherit;
    text-decoration: none;    /* убираем подчеркивание снизу (прописываем т.к. это ссылка) */
}

.articleTitle a:hover {
    text-decoration: underline;     /* добавляем подчеркивание снизу при наведении на элемент (прописываем т.к. это ссылка) */
}

.articleText {
    margin-bottom: 20px;
}

.articleFooter {
    margin: 0;
    padding: 0;
    list-style: none;

    /*color: #868686;*/
    color: #999999;
}

/*
margin - это внешний отступ для отделения элемента от другого элемента.
padding - мы используем тогда, когда нам нужно сделать в элементе внутренний отступ.
(Например, padding нужен чтобы внутри блока разместить (отдалить) текст так чтобы он не прилипал к краям блока а был на некотором расстоянии. (тег padding на элементе блок, теги margin на элементах текста или абзацах чтобы они не слипались между собой. )
*/
