.nav {
    grid-area: navbar;

    padding: 20px;
    min-width: 200px;

    background-color: #e9f8f3;
    /*background-color: #d0faf9;*/
}

.item {
    margin: 20px;

    /*color: blue;*/
    color: #000400;
    text-decoration: none;
}

.active
{
    margin: 40px;

    /*color: rgba(157, 116, 1, 0.998);*/
    color: #d2beb5;
    /*color: #c5c5c5;*/
    text-decoration: none;
    /*text-align: center;*/
}
