.content {
    grid-area: content;

    background-color: yellow;
    margin: 20px;
}

.contentItems .active {
    color: goldenrod;
}


.active
{
    color: gold;
    text-decoration: none;
}


/* Benefits */

.benefits {
    grid-area: content;

    text-decoration: none;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* (для случая когда элементов много) чтобы элементы переносились на новую строку, и верстка не слетелала */
    max-width: 800px;
    margin: 30px auto;
}

.benefitsItem {
    width: 30%;
    padding: 20px;
    position: relative;
    margin-bottom: 30px; /* (для случая когда элементов много и есть ряды снизу) чтобы нижние элементы не прилипали */

    text-align: center;

    background-color: #fff;
    box-shadow: 0 10px 25px rgba(72, 72, 72, .1);
}

.benefitsIcon {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.benefitsTitle {
    font-size: 20px;
}

/* Рисуем полоску.
лучше это делать через псевдоэлементы after и before, чем создавать пустой элемент типа span или div
*/
.benefitsTitle:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    margin: 20px auto;

    background-color: green;
}

/*
margin - это внешний отступ для отделения элемента от другого элемента.
padding - мы используем тогда, когда нам нужно сделать в элементе внутренний отступ.
(Например, padding нужен чтобы внутри блока разместить (отдалить) текст так чтобы он не прилипал к краям блока а был на некотором расстоянии. (тег padding на элементе блок, теги margin на элементах текста или абзацах чтобы они не слипались между собой. )
*/